<div class="row">
  <h2 class="col-md-12 text-center">About Jungle</h2>
  <p class="lead">
    Jungle is a App built using Ruby on Rails. The demo app lets you browse a
    online store and add the products you would like to buy in your cart. It
    also lets you checkout using test credentials.
  </p>
</div>
